
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: wheat;
    border-radius: 6px;
}
.input img{

    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #5b0d0d;
    background: #797979;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}











@media (max-width : 650px){
        
.inputs{
    gap: 25px;
}
.input{
    width: 240px;
    height: 40px;
    border-radius: 3px;
}
.input img{

    margin: 0px 15px;
}
.input input{
    height: 30px;
    width: 200px;
    font-size: 14px;

}
.submit{
    width: 120px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
}
.submit-container{
    gap: 10px;
    margin: 20px auto;
}


}
