.about{

    flex-basis: 56%;
    text-align: center;
}
.about h3{
    font-weight: 600;
    font-weight: 16px;
    color: #212ea0;

}
.about h2{
    font-size: 35px;
    color: #000f38;

}
.about p{
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
    
}
.about h1{
    font-size: 50px;
    color: #212ea0;
}
.about img{
    border-radius: 10px;
    width: 700px;
}